<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

  [type='checkboxes'] {
    margin: 10px 0px 20px 0px;
  }
  .red-text {
    color: red;
  }

  h2 {
    font-family: Lobster, monospace;ß
  }

  p {
    font-size: 16px;
    font-family: monospace;
  }

  .thick-green-border {
    border-color: green;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
  }

  .smaller-image {
    width: 100px;
  }

  .silver-background {
    background-color: silver;
  }
